<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, repudiandae alias? Distinctio, velit. Recusandae cupiditate ipsam est harum, aliquam magni sequi enim officia cumque, eos incidunt pariatur! Laudantium, perspiciatis placeat!
        </p>
    </div>
</div>