
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Preparate para llevar tus notas simpre contigo!</p>
    <hr class="my-4">
    <p>
        Esta aplicación te permitira llevar tus notas, tareas, pendientes y todo lo que no debe olvidarse de una forma simple, agradable y gratuita.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/users/signin" role="button">Ingresar</a>
    </p>
</div>
